<div class="card p-3">
  <div class="row m-0">
    <div class="col-4 ps-0"><a [routerLink]="['/moviedetails',movie.id]">
        <img class="img-fluid" [src]="baseurl + movie.poster_path" [alt]="movie.title">
      </a></div>

    <div class="col-8 ">
      <div class="d-flex justify-content-between">
        <h4>{{ movie.title}}</h4>
        <i class="fa fa-heart primaryColor fs-3" (click)="WatchlistCounterService.removeFromWatchlist(movie)"></i>
      </div>

      <small class="text-muted">{{movie.release_date}}</small>
      <p>{{ movie.overview | viewMore : 20}}</p>
      <a class="btn bg-primaryColor rounded-pill" [routerLink]="['/moviedetails',movie.id]">View Movie <i class="fas fa-angle-double-right"></i></a>

    </div>
  </div>
</div>
