<div class="card p-3">
  <div class="row m-0">
    <div class="col-4 ps-0"><a [routerLink]="['/moviedetails',movie.id]">
        <img class="img-fluid" [src]="baseurl + movie.poster_path" [alt]="movie.title">
      </a></div>

    <div class="col-8 ">
      <h4>{{ movie.title}}</h4>
      <i class="fa fa-heart primaryColor" (click)="WatchlistCounterService.removeFromWishlist(movie)"></i>

      <small class="text-muted">{{movie.release_date}}</small>
      <p>{{ movie.overview}}</p>


    </div>
  </div>
</div>
