  <a [routerLink]="['/moviedetails',movie.id]" (click)="sendMovi()">
    <img [src]="baseurl + movie.poster_path" class="img-fluid my-2">
      </a>

    <div class="content">


        <h6>{{movie.title}}</h6>
        <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">{{movie.release_date}}</small>
        <!-- <i class="fa-regular fa-heart"
        (click)="increaseCounter()"></i>
        <i class="fa fa-heart"
        (click)="decreaseCounter()"></i> -->
        <a (click)="toggleWatchlist()">
          <i class="fa-regular fa-heart primaryColor" [class.fill]="WatchlistCounterService.isInWatchlist(movie)"></i>
        </a>
        </div>
      </div>


