/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

a{
  text-decoration: none;
  color: inherit;
}
.primaryColor{
  color:#ffe353;
}
.bg-primaryColor
{
  background: #ffe353;
}
.btn{
  border: 2px solid transparent;
}
.btn:hover{
  border: 2px solid #ffe353;
  background-color: transparent;
}
.fa-regular.fill{
  font-weight: 900!important;
}
.fa-regular:hover{
  font-weight: 900!important;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
